<div
  class="min-h-screen flex items-center justify-center bg-gray-900 py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-white">
        Crea tu cuenta
      </h2>
      <p class="mt-2 text-center text-sm text-gray-400">
        O
        <a
          routerLink="/login"
          class="font-medium text-indigo-400 hover:text-indigo-300"
        >
          Inicia Sesión con una cuenta existente
        </a>
      </p>
    </div>

    <app-form
      [inputs]="registerInputs"
      [configActionsButtons]="buttonsActions"
      (formValues)="onSubmit($event)"
    ></app-form>
  </div>
</div>
